################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/logic-apps/v16
/.vs
/LogicAppExamples/.vs/LogicAppExamples/v16
/LogicAppExamples/LogicAppExamples/obj/Debug
/LogicAppExamples/.vs/LogicAppExamples
/LogicAppExamples/LogicAppExamples/bin/Debug/staging/LogicAppExamples
